[submodule "lhttp_parser"]
	path = lhttp_parser
	url = https://github.com/creationix/lhttp_parser.git
[submodule "luv"]
	path = luv
	url = https://github.com/creationix/luv.git
[submodule "lua-pwauth"]
	path = lua-pwauth
	url = https://github.com/devurandom/lua-pwauth.git
